#zero-div {
    margin-top: 30px;
    overflow: hidden;
    border: 1px dotted;
    padding-left: 10px;
    padding-bottom: 10px;
}
#zero-div1 {
    width: 400px;
    overflow: hidden;
}
#zero-div2 {
    width: 400px;
    overflow: hidden;
}
#zero-div3 {
    width: 400px;
    overflow: hidden;
}
#zero-button1 {
    float: left;
    margin-right: 40px;
    width: 120px;
}
#zero-button2 {
    float: left;
    margin-right: 40px;
    width: 130px;
}

#co-val-div {
    margin-top: 20px;
}

.cal-label {
    float: left;
    margin-right: 10px;
}
.cal-input {
    float: left;
    margin-right: 10px;
    margin-top: 9px;
}

#sens-div {
    margin-top: 30px;
    overflow: hidden;
    border: 1px dotted;
    padding-left: 10px;
    padding-bottom: 10px;
}
#sens-div1 {
    width: 400px;
    overflow: hidden;
}
#sens-div2 {
    width: 400px;
    overflow: hidden;
}
#sens-div3 {
    width: 400px;
    overflow: hidden;
}
#sens-button1 {
    float: left;
    margin-right: 40px;
    width: 130px;
}
#sens-button2 {
    float: left;
    margin-right: 40px;
    width: 140px;
}
