/* 
 * File:    dl_style.css
 *
 * Created: January, 2017
 * Purpose: Style sheet for DataLogger pages
 * 
 */
body {
  -webkit-user-select: none;
}

h4{
  font-size: 16px;
  margin-top: 2px !important;
  margin-bottom: 10px !important;
}

.sensor-readings{
  font-size: 16px;
  margin-top: 2px !important;
  text-align: right;
  padding-right: 35px;
  display: none;
}

.sensor-labels{
  font-size: 16px;
  margin-top: 2px !important;
  text-align: left;
  display: none;
}



#interval-radio-div {
  /*float: right;*/
  padding-bottom: 8px;
}

.interval-value{
  text-align: right;
}
.interval-label{
  text-align: center;
}

.summary-value{
  font-weight: bold;
  text-align: left;
  padding-left: 30px;
}
#start-time-radio-div {
  float: right;
  margin-right: 10px;
  margin-top: -7px;
}
#end-time-radio-div {
  float: right;
  margin-right: 32px;
  margin-top: -7px;
}

#info-footer {
  padding-top: 10px;
}

#info-button-div {
  overflow: hidden;
}
#site-button {
  float: left;
}


#unit-container {
  margin-top: 38px;
}

#log-frequency-div {
  width:350px;
  height:80px; /* WINDOWS */
  /* height:100px; LINUX */
}


strong {
  font-weight: 600;
}

.sidebar-text {  
  color: #7E9090;
}

#logger-status-header{
  float: right;
}


.spacer {
  height: 25px;
}
#new-logs-button{
  text-align: center;
}
.spacer15 {
  height: 15px;
}

.spacer10 {
  height: 10px;
}

.spacer5 {
  height: 5px;
}

.h20pix {
  height: 20px;
}

.w10px {
  width: 3px;
}

.tbpadding {
  padding-top: 5px;
  padding-bottom: 5px;
}

#start-date {
  margin-right: 10px;
}

.space5px {
  margin-left: 10px;
}

.inline {
  display: inline;
}

.config-container {
  border:  1px solid #485252;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#change-name-div {
  overflow: hidden;
  width:400px;
}
#name-div {
  color: #6C7B7B;
  float: left;
}
#cog-div {
  float: left;
  margin-top: 9px;
  margin-left: 8px;
}
#edit-name {
  float: left;
  width: 20px;
}
#menu-div {
  margin-left: 35px;
  margin-top: 15px;
}
#menu-control-div {
  float: left;
}
#change-name {
  height: auto;
  width: 85px;
}
#reset-name {
  margin-top: -5px;
  height: auto;
  width: 85px;
}


#sensor-div {
  margin-left: 15px;
  overflow: hidden;
  height: 150px;
}

#status{
  text-align: center;
}

#status-div {
  overflow: hidden;
  height: 150px;
  font-size: 14px;
}

.status-text-div{
  border-bottom:1px dashed #ccc;
  padding: 5px 0px;
}

.height100 {
  height: 100%;
  background: #d84a38;
}

#cal-message1-div { 
  color: #d84a38;
}

#cal-message2-div {
  display: block;
  color: #d84a38;
}

.page-logo {
  display: inline-block;
}

.page-container {
  margin-top: 110px;
}

.page-header{
  color: white;
  height: 110px;
}

/* override content container height
*   in assets/admin/layout/css/layout.css
*/
.page-content-wrapper .page-content{
  min-height: 570px;
  width: 700px;
  padding: 10px 15px 10px 15px;
}

#log-content{
  height:550px;
}
.datalogger-name{
  margin-top: 15px;
  font-size: 1.5em;
}

#device-name{
  padding-top: 8px;
}

#device-name a{
  color: #35aa47;
}

#sidebar-links {
  margin-top: 40px;
  text-align: center;
}

#sidebar-links a{
  color: #35aa47;
}

#device-name-link{
  display: block;
  /* comment out for debugging 
  visibility: hidden;*/
}

#production-version-warning{
  display: inline-block;
  /*color: #d84a38;*/
  color: orangered;
  font-size: 14px;
  font-weight: bold;
  padding-top:10px;
  text-align: left;
}
.versions {
  margin-top: 10px;
  text-align: right;
  height: 80px;
  padding-left: 10px;
}

.header-content{
  margin-top: 25px;
}

#start-date-validate{
  color: #d84a38;
}

#end-date-validate{
  color: #d84a38;
}


/* put white background around
*   bootstrap calendar glyphs,
*   to better match page
*/
.input-group-addon{
  background: #eeeeee;
}

.capture-checkbox{
  padding-bottom:5px;
}
/* bootstrap messes with legend formatting,
*   try to return it to something more standard
*/
fieldset {  
  border: solid 1px #DDD !important;
  padding: 0 10px 10px 10px; 
}

legend {
  font-size:13px !important;
  margin-bottom: 10px;
  border-bottom: 0px;
}

#capture-interval{
  height: 210px;
}

#capture-summary{
  height: 210px;
}

#interval-validate{
  padding:5px 0px;
  color: #d84a38;
}

#date-slider-div{
  width: 100%;
}

#date-slider-container{
  margin: 0 auto;
  position: relative;
  width:80%;
}
.debug{
  border: 1px solid black;
}

#usb-heating-div{
  padding-left:20px;
}

#dashboard{
  display:none;
}

#dashboard-chart-div{
  padding-top: 10px;
  margin: 0px 15px;
}

#dashboard-chart {  
  width:600px;
  height:250px; 
  display: block;
}

#log-chart{
  width:600px;
  height:220px; 
  display: block;
}


.chart-series ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px !important;
}

.chart-series li{
 float: left;
 padding: 2px 30px 2px 10px;
 border-right: 1px solid white;
}

.chart-series li:last-child{
  border-right: none;
  padding-right: 0px;
}

.chart-series label{
  display: inline;
  padding: 2px 0px 10px 5px;
}

label.chart-temperature{
  color: crimson;
}

label.chart-humidity{
   color: darkblue;
}

label.chart-light{
   color: darkorange;
}

label.chart-pressure{
  color: darkgreen;
}

label.chart-co{
  color: deepskyblue;
}

.chart-series input[type="checkbox"]{
  margin-top: 5px;
}

label {
  font-weight: normal;
  font-size: 13px;
  display: block; 
}

#log-button-div{
  text-align: center;
}

#log-button-validate{
  text-align: center;
  color: #d84a38;
}


/*  override sidebar hover
*   was red, make it dark green
*/
.page-sidebar-menu > li.active >a:hover{
  background: #2e933d !important;
}


/* Calibration page */
.calibrate-button{
  text-align: center;
}

.calibrate-text-input{
  text-align: center;
}

/* Log table */
#log-table{
  overflow:auto;
  max-height: 180px;
}


table#log-table-table{
  width: 100%;
  padding-top: 10px;
  font-size: 12px;
}

/* get rid of the horizontal scrollbar on the log table */
::-webkit-scrollbar :horizontal {
  height: 13px;
  width: 13px;
}

#log-header{
  padding-left: 3px;
  width: 614px;
}

table#log-header-table{  
  font-size: 12px;
}

table#log-header-table th{
  padding: 4px;
  font-weight: bold;
}
/* set all of the cell widths */
.log-table-date{
  width: 22%;
  text-align: left;
}

.log-table-device{
  width: 21%;
  text-align: left;
}

.log-table-name{
  width: 28%;
  text-align: left;
}
.log-table-count{
  width: 8%;
  text-align:right;
}

.log-table-icons{
  width: 7%;
  text-align: center;
}


table#log-table-table tr:nth-child(even){
  background-color: #f2f2f2;
}

table#log-table-table tr.new-capture{
  background-color: rgba(46, 147, 61, 0.5);
}

table#log-table-table tr:hover{
  background-color: #ddd;
}


table#log-table-table td{
  border: 1px solid #ddd;
  padding: 4px;
}

table#log-table-table td.capture-id{
  visibility: hidden;
}


#log-table-table img{
  height: 20px;
  width: 20px;    
}

#log-data{
  padding-top:10px;
}


/* Buttons */

.logger-status-button{
  width: 150px;
  height: 30px;
  margin-top: 4px;
  border-radius: 4px !important;
}

#logger-status-button-newlogs{
  color:black;
  background-color: #ffff00;   
}
#logger-status-button-newlogs:hover{
  opacity: 0.8;  
}

#logger-status-button-ready{
  color: white;
  background-color: #35aa47;
}

#logger-status-button-ready:hover{
  opacity: 0.8;
}

#logger-status-button-logging{
  color: white;
  background-color: #d84a38;
}

#logger-status-button-logging:hover{
  opacity: 0.8;
}

#logger-status-button-scheduled{
  color: white;
  background-color: darkorange;
}

#logger-status-button-scheduled:hover{
  opacity: 0.8;
}

.connect-button-class {
  text-align: center;
  margin-top: 20px;  
  width: 150px;
}

.download-button-class{
  text-align: center;
  margin-top: 10px;  
  width: 150px;
}

.product-manual-button-class{
  text-align: center;
  margin: 5px 0px;
}

.btn {
  border-radius: 8px !important;
}

.btn:active{
}
.green.btn {
  color: white;
  background-color: #35aa47;
  border-color: #2e933d ;  
}
.green.btn:hover, .green.btn:focus, .green.btn:active, .green.btn.active {
  color: white;
  background-color: #2e933d;
}
.open .green.btn.dropdown-toggle {
  color: white;
  background-color: #2e933d;
}
.green.btn:active, .green.btn.active {
  background-image: none;
}
.open .green.btn.dropdown-toggle {
  background-image: none;
}
.green.btn.disabled, 
.green.btn.disabled:hover, 
.green.btn.disabled:focus, 
.green.btn.disabled:active, 
.green.btn.disabled.active, 
.green.btn[disabled], 
.green.btn[disabled]:hover, 
.green.btn[disabled]:focus, 
.green.btn[disabled]:active, 
.green.btn[disabled].active, 
fieldset[disabled] .green.btn, 
fieldset[disabled] .green.btn:hover, 
fieldset[disabled] .green.btn:focus, 
fieldset[disabled] .green.btn:active, 
fieldset[disabled] .green.btn.active {
  background-color: #35aa47;
}
.green.btn .badge {
  color: #35aa47;
  background-color: white;
}
