<div id="calibrate-connected" style="display:none;">
  <div id="calibrate-content">
    <div class="container-fluid">
      <form id="calibrate-form">
        <div class="row"  id="cal-date-div">
          <div class="col-sm-12">
            <fieldset>
              <legend>Calibration</legend>
              <div class="row">
                <div class="col-sm-6">
                  <div>Calibration date: <span id="cal-date">3/25/2015</span>                
                  </div>
                </div>
                <div id="co-val-div" class="col-sm-6">
                  <div id="co-val">CO: --</div> 
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="row"  id="zero-div">
          <div class="col-sm-12">   
            <fieldset>
              <legend>Baseline</legend>
              <div class="row">                
                <!--
                <div id="zero-label1"  class="cal-label">
                  Stored Baseline:&nbsp;&nbsp;
                  <input id="zero-input1"  class="cal-input" type="text" size="6" readonly>
                </div>
                --> 
                <div id="zero-div1" class="col-sm-6 calibrate-text-input">
                  <span id="zero-label1">Stored baseline&nbsp;&nbsp;&nbsp;</span>
                  <input id="zero-input1" type="text"
                         class="cal-input"
                         placeholder="0" size="6"
                         style="text-align: right;"
                         disabled>
                </div>
                <div id="zero-div3" class="col-sm-6 calibrate-text-input">
                  <span id="zero-label3">Baseline to write&nbsp;&nbsp;&nbsp;</span>
                  <input id="zero-input3" type="text"
                         class="cal-input"
                         placeholder="0" size="6"
                         style="text-align: right;"
                         disabled>
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <hr />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 calibrate-button"> 
                  <button id="zero-button1" type="button" class="btn">
                    Get Baseline
                  </button>
                </div>
                <div class="col-sm-4 calibrate-button">           
                  <button id="zero-button2" type="button" class="btn">
                    Write Baseline
                  </button>
                </div>
                <div class="col-sm-4 calibrate-button">           
                  <button id="zero-button3" type="button" class="btn">
                    Auto Baseline
                  </button>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="row" id="sens-div">
          <div class="col-sm-12">   
            <fieldset>
              <legend>Sensitivity</legend>
              <div class="row">
                <div id="sens-div1" class="col-sm-6 calibrate-text-input">
                  <span id="sens-label1">Stored sensitivity&nbsp;&nbsp;&nbsp;</span>
                  <input id="sens-input1" type="text"
                         class="cal-input"
                         placeholder="0" size="6"
                         style="text-align: right;"
                         disabled>
                </div>
                <div id="sens-div3" class="col-sm-6 calibrate-text-input">
                  <span id="sens-label3">Sensitivity to write&nbsp;&nbsp;&nbsp;</span>
                  <input id="sens-input3" type="text"
                         class="cal-input"
                         placeholder="0" size="6"
                         style="text-align: right;"
                         disabled>
                  </div> 
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <hr />
                </div>
              </div>              
              <div class="row">
                <div class="col-sm-4 calibrate-button"> 
                  <button id="sens-button1" type="button" class="btn">
                    Get Sensitivity
                  </button>
                </div>
                <div class="col-sm-4 calibrate-button">           
                  <button id="sens-button2" type="button" class="btn">
                    Write Sensitivity
                  </button>
                </div>
                <div class="col-sm-4 calibrate-button">&nbsp;
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="row" id="info-div">
          <div class="col-sm-12">   
            <fieldset>
              <legend>Baseline Information</legend>
              <div class="row">
                <div id="user-zero-div" class="col-sm-4 calibrate-button">
                  <button id="user-zero-button" type="button" class="btn">
                    Zero Device
                  </button>
                  <div>&nbsp;</div>
                  <div id="zero-bar-div" style="display:none;">
                    <progress id="zero-bar" value="0" max="30" style="width:80%;">
                    </progress>
                    <br />
                    Calculating baseline...
                  </div>
                  <div id="zero-success-div" style="color:green; display:none;">
                    Baseline successful!
                  </div>
                  <div id="zero-fail-div" style="color: red; display: none;">
                    Baseline failed.
                  </div>
                </div>            
                <div class="col-sm-8">
                  <strong>Baseline Instructions: </strong>You may want to zero
                  your device if you notice it reading unusually elevated levels
                  of CO in fresh air or outside. Once it is baselined, it should
                  go back to reading 0 PPM when there is no CO present. Make sure
                  you only perform this operation in fresh air, or it may fail.              
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <hr />
                </div>
              </div>
              <div class="row">              
                <div id="info-footer" class="col-sm-12">
                  If the baseline fails, please check the product manual for
                  more information.
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="calibrate-not-connected" style="display:block;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">        
        <h3>Calibration page</h3>
        <p>
          Only advanced users
        </p>
      </div>
    </div>
  </div>
</div>
<script>

  document.getElementById("user-zero-button").onclick = userZero;
  document.getElementById("zero-button1").onclick = getInstBaseline;
  document.getElementById("zero-button2").onclick = writeBaseline;
  document.getElementById("zero-button3").onclick = autoZero;
  document.getElementById("sens-button1").onclick = getInstSensitivity;
  document.getElementById("sens-button2").onclick = writeSensitivity;

  /*
   * Globals for calibrate
   * 
   */

  var baseline = 0;
  var sensitivity = 0;
  var baselineInst = 0;
  var sensitivityInst = 0;
  var progressVal = 0;
  var userZeroFlag = 0;
  var calTrigger = 0;
  var zeroTrigger = 0;
  var calStat = 0;
  var zeroStat = 0;
  var showBaselineTemp = false;

  // This screen is only loaded if coVersion is true
  //  and connection state is 1
  function connectCalibrateScreen() {
    $("#calibrate-not-connected").hide();
    $("#calibrate-connected").show();
    document.getElementById("user-zero-div").style.display = "block";
    document.getElementById("info-div").style.display = "block";
    document.getElementById("cal-date-div").style.display = "block";
    document.getElementById("co-val-div").style.display = "block";
    document.getElementById("zero-div").style.display = "block";
    document.getElementById("sens-div").style.display = "block";
    document.getElementById("cal-date").innerHTML = ClimateLogger.coGetCalTimestamp();
    //alert("calibrate works");
  }



</script>
