<div id="capture-connected" style="display:none;">
  <div id="capture-content">
    <div class="container-fluid">
      <form role="form" id="capture-form">
        <div class="row">
          <div class="col-xs-6">

            <div class="form-group">
              <fieldset>  
                <legend>Start date / time:</legend>
                <div id="start-date-div">
                  <div class="capture-checkbox">
                    <input id="start-now" type="checkbox" checked />
                    &nbsp;&nbsp;Start now
                  </div>
                  <div id="start-date" class="input-group date">
                    <input id="start-date-text" type="text" class="form-control"/>
                    <span id="start-date-glyph" class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                  <div id="start-date-validate">
                    &nbsp;
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <fieldset>
                <legend>End date / time:</legend>
                <div id="end-date-div">
                  <div class="capture-checkbox">
                    <input id="end-max" type="checkbox" checked />
                    &nbsp;&nbsp;Get maximum
                  </div>
                  <div id='end-date' class='input-group date'>
                    <input id="end-date-text" type="text" class="form-control"/>
                    <span id="end-date-glyph" class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                  <div id="end-date-validate" style="display:block;">
                    &nbsp;
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <!-- SLIDER POSTPONED PER MEETING 1/14/17 
        <div class="row">
          <div class="col-xs-12">
            <fieldset>              
              <legend id="slider-legend">Or select total log length (hours)</legend>
              <div id="date-slider-div">
                <div id="date-slider-container">
                <input id="date-slider" type="text"></>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        END SLIDER -->
        <div class="row">
          <div class="col-xs-6">

            <div class="form-group">
              <fieldset>
                <legend>Interval:</legend>
                <div id="capture-interval">
                  <div id="interval-radio-div" class="radio-list">
                    <div id="interval-seconds-rb-div">
                      <input type="radio" name="interval-radios"
                             id="interval-seconds-rb" value="seconds" checked>
                      Seconds
                    </div>
                    <div id="interval-minutes-rb-div">
                      <input type="radio" name="interval-radios"
                             id="interval-minutes-rb" value="minutes">
                      Minutes
                    </div>
                    <div id="interval-hours-rb-div">
                      <input type="radio" name="interval-radios"
                             id="interval-hours-rb" value="hours">
                      Hours
                    </div>
                    <!--<div id="interval-days-rb-div">
                      <input type="radio" name="interval-radios"
                          id="interval-days-rb" value="days">
                      Days
                    </div>-->
                  </div> 
                  <label>Interval between measurements</label>
                  <input id="interval"  class="interval-value"
                         type="text" size="4" required value="5">
                  <div id="interval-validate">
                    &nbsp;
                  </div>
                  <div class="row">
                    <div class="col-xs-3 interval-label">
                      Days
                      <input id="interval-days" class="interval-value"
                             type="text" size="2" disabled value="0">
                    </div>
                    <div class="col-xs-3 interval-label">                
                      Hrs
                      <input id="interval-hours"  class="interval-value"
                             type="text" size="2" disabled value="0">
                    </div>
                    <div class="col-xs-3 interval-label">
                      Mins
                      <input id="interval-minutes"  class="interval-value"
                             type="text" size="2" disabled value="0">
                    </div>
                    <div class="col-xs-3 interval-label">
                      Secs
                      <input id="interval-seconds"  class="interval-value"
                             type="text" size="2" disabled value="5">
                    </div>
                  </div>
                  <div id="capture-interval-error">&nbsp;</div>
                </div>                
              </fieldset>
            </div>

          </div>
          <div class="col-xs-6">
            <fieldset>
              <legend id="summary-legend">Setup Summary:</legend>              
              <div id="capture-summary">
                <!-- Capture frequency and Max run time
                    removed per review meeting 1/8/17
                <div class="row">
                  <div class="col-xs-12">
                    Capture frequency:
                  </div>
                </div>
                <div class="row">
                  <div id="capture-summary-interval" class="col-xs-12 summary-value">
                    5 seconds
                  </div>
                </div>                
                <div class="row">
                  <div id="capture-max" class="col-xs-12">
                    Max run time:
                  </div>
                </div>
                <div class="row">  
                  <div id="capture-summary-max" class="col-xs-12  summary-value">
                    &nbsp;
                  </div>            
                </div>
                -->
                <div class="row">
                  <div id="capture-actual" class="col-xs-12">
                    Log run time:
                  </div>
                </div>
                <div class="row">
                  <div id="capture-summary-actual" class="col-xs-12  summary-value">
                    &nbsp;
                  </div>            
                </div>

                <div class="row">
                  <div id="capture-battery" class="col-xs-12">
                    Expected battery life on full charge:
                  </div>
                </div>
                <div class="row">
                  <div id="capture-summary-battery" class="col-xs-12  summary-value">
                    &nbsp;
                  </div>
                </div> 


                <div class="row">
                  <div id="capture-start" class="col-xs-12">
                    Start:
                  </div>
                </div>
                <div class="row">
                  <div id="capture-summary-start" class="col-xs-12  summary-value">
                    &nbsp;
                  </div>
                </div>          
                <div class="row">
                  <div id="capture-end" class="col-xs-12">
                    End:
                  </div>
                </div>
                <div class="row">
                  <div id="capture-summary-end" class="col-xs-12  summary-value">
                    &nbsp;
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <fieldset>
              <legend>Capture:</legend>
              <div id="log-button-div">
                <button id="log-start-button" type="button" class="btn green"
                        onclick="configLog()">
                  Click here to start a new log
                </button>
                <button id="log-status-button" type="button" class="btn red"
                        style="display:none;" onclick="resetLog()">
                  Currently logging - click to reset</button>
                <button id="log-queued-button" type="button" class="btn"
                        style="display:none;" onclick="resetLog()">
                  <span id="log-queued-button-text">
                    Set to start at --- click to reset
                  </span>
                </button>
              </div>
              <div id="log-button-validate">
                &nbsp;
              </div>
            </fieldset>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="capture-not-connected" style="display:block;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">        
        <h3>Capture setup page</h3>
        <p>
          You must connect your Climate Logger to access functions on this page.
        </p>
        <p>
          Please click on the 'Connect' button above.
        </p>
      </div>
    </div>
  </div>
</div>
<script>

  function connectCaptureScreen() {
    if (connectionState === 1) {
      document.getElementById("capture-not-connected").style.display = "none";
      document.getElementById("capture-connected").style.display = "block";

      // set default start date to keep error msg from
      //  flashing when page first loaded
      defaultStartDate();

      $(function ($) {
        var curDate = new Date();
        // create datepickers, but keep 
        // them disabled to start
        //  as associated checkboxes default to true

        // start-date beginning date will always default to now,
        //  as user should always be able to pick any date as long
        //  as it's not in the past, and ending date will always be
        //  any date, up to the max unit date allowed by the system
        $('#start-date').datetimepicker({
          startDate: curDate,
          endDate: "2038-01-19 03:14:17",
          autoclose: true
        });

        // set up initial end date picker, but this will be updated
        // constantly based on user inputs
        $('#end-date').datetimepicker({
          autoclose: true
        });

        // start out with the start date disabled,
        //  as the start-now checkbox defaults to checked
        $('#start-date-text').prop('disabled', true);
        $('#start-date-glyph').hide();

        // start out with the end date disabled,
        //  as the end-max checkbox defaults to checked
        $('#end-date-text').prop('disabled', true);
        $('#end-date-glyph').hide();


        // update start-date-text enabled
        //  based on start-now checkbox
        $('#start-now').click(function () {
          var rightNow = new Date();
          // Update the calendar so that past date / time
          //  can not be selected.  Will happen if user
          //  has program open for period of time
          $('#start-date').datetimepicker('setStartDate', rightNow);
          
          if ($(this).prop('checked')) {
            $('#start-date-text').prop('disabled', true);
            $('#start-date-glyph').hide();
            // clear any error messages, as date will be ok now
            $("#start-date-validate").html("&nbsp;");
          } else {
            // not checked, so enable the text box
            $('#start-date-text').prop('disabled', false);
            // and show the calendar icon
            $('#start-date-glyph').show();

          }
          // update the slider
          //updateDateSlider();
        });

        // update end-date-text enabled
        //  based on end-max checkbox
        $('#end-max').click(function () {
          // always update the calendar so user can't select
          //  time earlier than start
          updateEndCalendar();          
          if ($(this).prop('checked')) {
            $('#end-date-text').prop('disabled', true);
            $('#end-date-glyph').hide();
            // clear any error messages, as date will be ok now
            $("#end-date-validate").html("&nbsp;");
          } else {
            $('#end-date-text').prop('disabled', false);
            $('#end-date-glyph').show();
          }
          // update the slider
          //updateDateSlider();
        });


        // now that they're created update end date
        //  calendar based on what we know right now
        updateEndCalendar();

        // update the max run time
        updateMaxRunTime();


        /*
         * Catch any change in the start date field
         * OR in the interval field 
         * OR the interval radio buttons
         */

        // monitor change event for 
        // BOTH start-date-text AND interval text box
        $('#start-date-text').add('#interval').on('change', function () {
          startDateOrIntervalUpdate();
        });

        // couldn't catch all of the bad actions on the change
        //  event, so watch when loses focus
        $('#start-date-text').focusout(function () {
          startDateOrIntervalUpdate();
        });

        // also any change to the interval radios
        $("input[type='radio'][name='interval-radios']").on('change', function () {
          // have to update the end date first, as can not
          // count on the periodicTask function to do
          // this when we need it done
          loadEndDate();
          // now run the functions here
          startDateOrIntervalUpdate();

        });
        /*
         * Catch any change in the end date field
         */
        $('#end-date-text').on('change', function () {
          endDateUpdate();
        });
        // couldn't catch all of the bad actions on the change
        //  event, so watch when loses focus
        $('#end-date-text').focusout(function () {
          endDateUpdate();
        });

        // Clear any old messages when calendar text boxes get the focus
        $('#start-date-text').on('focus', function () {
          $("#start-date-validate").html("&nbsp;");
        })

        $('#end-date-text').on('focus', function () {
          $("#end-date-validate").html("&nbsp;");
        })

        // if start date is empty load current date into it
        loadStartDate();

        // load end date with default maximum time based on
        //  default interval
        loadEndDate();
        
        // load the slider with default values
        //loadDateSlider(); 

      });

    } else {
      document.getElementById("capture-not-connected").style.display = "block";
      document.getElementById("capture-connected").style.display = "none";
    }
  }
//alert("capture works");

</script>
