<div id="cloud-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <fieldset>
          <legend>Cloud Login</legend>
          <div id="cloud-login">
            <form>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-user"></i>
                </span>
                <input id="email"
                       type="text"
                       class="form-control"
                       name="email"
                       placeholder="Email">
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-lock"></i>
                </span>
                <input id="password"
                       type="password"
                       class="form-control"
                       name="password"
                       placeholder="Password">
              </div>
            </form>

          </div>
        </fieldset>
      </div>
      <div class="col-sm-6">
        <fieldset>
          <legend>Cloud Upload</legend>
          <div id="cloud-upload">
            <a href="javascript:postLocalDBToCloud()">
              Upload local records to Cloud database
            </a>
          </div>
          <div id="log-upload-count">
            Log upload count:
          </div>
          <div id="log-upload-pbar">            
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <span class="sr-only">0% Complete</span>
              </div>
            </div>
          </div>
        </fieldset>       
      </div>
    </div>
  </div>
</div>
<script>

 function connectCloudScreen() {
   // nothing to do here, create function
   // for consistency
 }
 //alert("cloud works");
 
</script>
