<div id="dashboard-connected" style="display:none;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <fieldset>  
          <legend>Climate logger readings</legend>
          <div id="sensor-div">
            <div class="row">
              <div id="temp-label" class="col-sm-6 sensor-labels">
                Temperature<a href='javascript:showTempMsg()'>*</a>:
              </div>
              <div id="temp" class="col-sm-6 sensor-readings">
                &nbsp;
              </div>
            </div>
            <div class="row">
              <div id="humidity-label" class="col-sm-6 sensor-labels">
                Humidity:
              </div>
              <div id="humidity" class="col-sm-6 sensor-readings">
                &nbsp;
              </div>
            </div>
            <div class="row">
              <div id="pressure-label" class="col-sm-6 sensor-labels">
                Pressure:
              </div>
              <div id="pressure" class="col-sm-6 sensor-readings">
                &nbsp;
              </div>              
            </div>
            <div class="row">
              <div id="light-label" class="col-sm-6 sensor-labels">
                Light:
              </div>
              <div id="light" class="col-sm-6 sensor-readings">
                &nbsp;
              </div>
            </div>
            <div class="row">
              <div id="co-label" class="col-sm-6 sensor-labels">
                CO:
              </div>
              <div id="co" class="col-sm-6 sensor-readings">
                &nbsp;
              </div>
            </div>
            <div class="row">
              <div id="adc4-label" class="col-sm-6 sensor-labels">
                ADC4:
              </div>
              <div id="adc4" class="col-sm-6 sensor-readings">
                &nbsp;
              </div>
            </div>
            <!-- *********************************************
            *   None of these values are being handled in 
            *   dl_dashboard.js - readSensors(), so even if
            *   they are enabled on the ClimateLogger they
            *   will not show up on the dashboard page.  In 
            *   addition, if they get enabled in the function
            *   and handled here they are going to break the
            *   page formating, so some other way of displaying
            *   these elements will need to be created            
            <div id="adc5" style="display: none;">ADC5: --</div>
            <div id="adc9" style="display: none;">ADC9: --</div>
            <div id="uv" style="display: none;">UV Index: --</div>
            <div id="ir" style="display: none;">IR: --</div>
            <div id="batt" style="display: none;">Battery: --</div>
            *************************************************-->
          </div>
        </fieldset>
      </div>
      <div class="col-xs-6">
        <fieldset>
          <legend>Climate logger status</legend>
          <div id="status-div">
            <div class="status-text-div" id="new-logs-button" style="display: none;">
              <p>New logs are available to download</p>
              <button id="download-logs-button" type="button"
                      class="btn green download-button-class">Download Logs</button>
            </div>
            <div class="status-text-div" id="logger-status-body" style="display:block;">
              &nbsp;
            </div>
            <div class="status-text-div" id="cal-message1-div" style="display: none;">
              Your device is due for calibration.
            </div>
            <div class="status-text-div" id="cal-message2-div" style="display: none;">
              Your device is now OVERDUE for calibration.
            </div>
          </div>
        </fieldset>
      </div>
      <!-- graph start -->
      <div class="row">
        <div class="col-xs-12">
          <div id="dashboard-chart-div">
            <fieldset>  
              <legend>Climate logger chart</legend>    
              <div id="dashboard-chart" >&nbsp;</div>
              <div class="chart-series">
                <ul>
                  <li id="db-chart-toggle-temperature">
                    <label class="chart-temperature">
                      <input type="checkbox" checked
                             onclick="dashboardToggle('temperature')"/>
                      Temperature
                    </label>
                  </li>
                  <li id="db-chart-toggle-humidity">
                    <label class="chart-humidity">
                      <input type="checkbox" checked
                             onclick="dashboardToggle('humidity')"/>
                      Humidity
                    </label>
                  </li>
                  <li id="db-chart-toggle-light">
                    <label class="chart-light">
                      <input type="checkbox" 
                             onclick="dashboardToggle('light')"/>
                      Light
                    </label>
                  </li>
                  <li id="db-chart-toggle-pressure">
                    <label class="chart-pressure">
                      <input type="checkbox" 
                             onclick="dashboardToggle('pressure')"/>
                      Pressure
                    </label>
                  </li>
                  <li id="db-chart-toggle-co">
                    <label class="chart-co">
                      <input type="checkbox" 
                             onclick="dashboardToggle('co')"/>
                      CO
                    </label>
                  </li>
                </ul>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <!-- graph end -->
      <!--
      Now that we're showing a message box when the user
        clicks on the asterisk after 'Temperature*', we
        don't really need to show this here.  We're leaving
        it because we might change our mind later
      
      <div id="info-footer">
        <div id="usb-heating-div">
          * Temperature values will be slightly higher than normal while
          charging/connected over USB
        </div>
        <div class="clearfix">
        </div>  
      </div>
      -->
    </div>
  </div>
</div>
<div id="dashboard-not-connected" style="display:block;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">        
        <h3>Dashboard page</h3>
        <p>
          You must connect your Climate Logger to access functions on this page.
        </p>
        <p>
          Please click on the 'Connect' button above.
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("download-logs-button").onclick = downloadLogs;

  function connectDashboardScreen() {
    // look at the global connectionState set on the index page
    if (connectionState === 1) {
      $("#dashboard-not-connected").hide();
      $("#dashboard-connected").show();
      $("#dashboard-chart").html("Loading chart, please wait...");

      if (temperatureSensor === true) {
        $("#temp").show();
        $("#temp-label").show();
        $("#db-chart-toggle-temperature").show();
      } else {
        $("#temp").hide();
        $("#temp-label").hide();
        $("#db-chart-toggle-temperature").hide();
      }
      if (humiditySensor === true) {
        $("#humidity").show();
        $("#humidity-label").show();
        $("#db-chart-toggle-humidity").show();
      } else {
        $("#humidity").hide();
        $("#humidity-label").hide();
        $("#db-chart-toggle-humidity").hide();
      }
      if (pressureSensor === true) {
        $("#pressure").show();
        $("#pressure-label").show();
        $("#db-chart-toggle-pressure").show();
      } else {
        $("#pressure").hide();
        $("#pressure-label").hide();
        $("#db-chart-toggle-pressure").hide();
      }
      if (lightSensor === true) {
        $("#light").show();
        $("#light-label").show();
        $("#db-chart-toggle-light").show();
      } else {
        $("#light").hide();
        $("#light-label").hide();
        $("#db-chart-toggle-light").hide();
      }
      if (coSensor === true) {
        $("#co").show();
        $("#co-label").show();
        $("#db-chart-toggle-co").show();
        var daysFromLastCal = ClimateLogger.getDaysFromLastCalibration();
        //alert("Days from last cal: " + daysFromLastCal);
        if (daysFromLastCal >= 180) {
          $("#cal-message1-div").show();
        }
        if (daysFromLastCal >= 360) {
          $("#cal-message2-div").show();
        }
      } else {
        $("#co").hide();
        $("#co-label").hide();
        $("#cal-message1-div").hide();
        $("#cal-message2-div").hide();
        $("#db-chart-toggle-co").hide();
      }
      if (adc4 === true) {
        $("#adc4").show();
        $("#adc4-label").show();
      } else {
        $("#adc4").hide();
        $("#adc4-label").hide();
      }

      //readSensors();
      ClimateLogger.setSensorStreamStatus(true);

    } else {
      $("#dashboard-not-connected").show();
      $("#dashboard-connected").hide();
      $("#dashboard-chart").html("&nbsp;");
      destroyChart("dashboard", "dashboard-chart");
      // reset the chart delay
      dashboardChartDelay = 3;
    }
  }
  //alert("dashboard works");
</script>
