<div id="log-content">
  <div class="container-fluid">
    <div class="row">
      <div class="log-data col-sm-12">
        <fieldset>
          <legend>Climate logger chart</legend>
          <div id="log-chart">
            Click on chart icon in capture records to show the chart of that log.
          </div>
          <div class="chart-series">
            <ul>
              <li id="log-chart-toggle-temperature" style="display: none;">
                <label class="chart-temperature">
                  <input type="checkbox" checked id="log-chart-check-temperature"
                         onclick="logToggle('temperature')"/>
                  Temperature
                </label>
              </li>
              <li id="log-chart-toggle-humidity" style="display: none;">
                <label class="chart-humidity">
                  <input type="checkbox" checked id="log-chart-check-humidity"
                         onclick="logToggle('humidity')"/>
                  Humidity
                </label>
              </li>
              <li id="log-chart-toggle-light" style="display: none;">
                <label class="chart-light">
                  <input type="checkbox" checked id="log-chart-check-light"
                         onclick="logToggle('light')"/>
                  Light
                </label>
              </li>
              <li id="log-chart-toggle-pressure" style="display: none;">
                <label class="chart-pressure">
                  <input type="checkbox" checked id="log-chart-check-pressure"
                         onclick="logToggle('pressure')"/>
                  Pressure
                </label>
              </li>
              <li id="log-chart-toggle-co" style="display: none;">
                <label class="chart-co">
                  <input type="checkbox" checked id="log-chart-check-co"
                         onclick="logToggle('co')"/>
                  CO
                </label>
              </li>
              <li id="log-chart-toggle-spacer" style="visibility: hidden;">
                <label>
                  <input type="checkbox"/>
                  &nbsp; <!-- this is just a spacer to keep the block from
                         jumping around between chart refreshes -->
                </label>
              </li>
            </ul>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div id="log-data" class="col-sm-12">
        <fieldset>
          <legend>Logs</legend>
          <div id="log-header">
            <table id="log-header-table">
              <thead>
                <tr>
                  <th class="log-table-date">Date</th>
                  <th class="log-table-device">Device</th>
                  <th class="log--table-name">Name</th>
                  <th class="log-table-count">Count</th>
                  <th class="log-table-icons">Chart</th>
                  <th class="log-table-icons">Export</th>
                  <th class="log-table-icons">Delete</th>
                </tr>
              </thead>              
            </table>
          </div>          
          <div id="log-table">
            <table id="log-table-table">
              <tbody>
                <tr>
                  <td class="log-table-date">01/01/1970 3:16 pm</td>
                  <td class="log-table-device">Sample Device</td>
                  <td class="log-table-name">Sample Note</td>
                  <td class="log-table-count">1000</td>
                  <td class="log-table-icons"><a href="#">
                      <img src="img/graph_sm.png" alt="graph" /></a></td>
                  <td class="log-table-icons">
                    <img src="img/export_sm.png" alt="transfer" /></td>
                  <td class="log-table-icons">
                    <img src="img/delete_sm.png" alt="delete" /></td>
                </tr>
                <tr>
                  <td class="log-table-date">01/01/1970 3:16 pm</td>
                  <td class="log-table-device">Sample Device</td>
                  <td class="log-table-name">Sample Note</td>
                  <td class="log-table-count">1000</td>
                  <td class="log-table-icons"><a href="#">
                      <img src="img/graph_sm.png" alt="graph" /></a></td>
                  <td class="log-table-icons">
                    <img src="img/export_sm.png" alt="transfer" /></td>
                  <td class="log-table-icons">
                    <img src="img/delete_sm.png" alt="delete" /></td>
                </tr>
                <tr>
                  <td class="log-table-date">01/01/1970 3:16 pm</td>
                  <td class="log-table-device">Sample Device</td>
                  <td class="log-table-name">Sample Note</td>
                  <td class="log-table-count">1000</td>
                  <td class="log-table-icons"><a href="#">
                      <img src="img/graph_sm.png" alt="graph" /></a></td>
                  <td class="log-table-icons">
                    <img src="img/export_sm.png" alt="transfer" /></td>
                  <td class="log-table-icons">
                    <img src="img/delete_sm.png" alt="delete" /></td>
                </tr>
                <tr>
                  <td class="log-table-date">01/01/1970 3:16 pm</td>
                  <td class="log-table-device">Sample Device</td>
                  <td class="log-table-name">Sample Note</td>
                  <td class="log-table-count">1000</td>
                  <td class="log-table-icons"><a href="#">
                      <img src="img/graph_sm.png" alt="graph" /></a></td>
                  <td class="log-table-icons">
                    <img src="img/export_sm.png" alt="transfer" /></td>
                  <td class="log-table-icons">
                    <img src="img/delete_sm.png" alt="delete" /></td>
                </tr>                  <tr>
                  <td class="log-table-date">01/01/1970 3:16 pm</td>
                  <td class="log-table-device">Sample Device</td>
                  <td class="log-table-name">Sample Note</td>
                  <td class="log-table-count">1000</td>
                  <td class="log-table-icons"><a href="#">
                      <img src="img/graph_sm.png" alt="graph" /></a></td>
                  <td class="log-table-icons">
                    <img src="img/export_sm.png" alt="transfer" /></td>
                  <td class="log-table-icons">
                    <img src="img/delete_sm.png" alt="delete" /></td>
                </tr>
                <tr>
                  <td class="log-table-date">01/01/1970 3:16 pm</td>
                  <td class="log-table-device">Sample Device</td>
                  <td class="log-table-name">Sample Note</td>
                  <td class="log-table-count">1000</td>
                  <td class="log-table-icons"><a href="#">
                      <img src="img/graph_sm.png" alt="graph" /></a></td>
                  <td class="log-table-icons">
                    <img src="img/export_sm.png" alt="transfer" /></td>
                  <td class="log-table-icons">
                    <img src="img/delete_sm.png" alt="delete" /></td>
                </tr>                  <tr>
                  <td class="log-table-date">01/01/1970 3:16 pm</td>
                  <td class="log-table-device">Sample Device</td>
                  <td class="log-table-name">Sample Note</td>
                  <td class="log-table-count">1000</td>
                  <td class="log-table-icons"><a href="#">
                      <img src="img/graph_sm.png" alt="graph" /></a></td>
                  <td class="log-table-icons">
                    <img src="img/export_sm.png" alt="transfer" /></td>
                  <td class="log-table-icons">
                    <img src="img/delete_sm.png" alt="delete" /></td>
                </tr>
              </tbody>
            </table>              

          </div>
        </fieldset>
        <a href="javascript:captureTransfer()">Transfer entire database to CSV</a>
      </div>
    </div>
  </div>
</div>
<script>


  function connectLogsScreen() {
    // nothing to do here, create function
    // for consistency
  }
  //alert("logs works");

</script>
